{:http {:server-settings {:port 3000
                          :join? false
                          :http/cookies {:http-only true}}}
 :logger {:sentry-settings {:log? false
                            :dsn ""}}
 :sips {#uuid "e35fd384-5c62-5ade-b66b-f3fafc0e08ad" "sip:9100@voip1.inonit.no",
        #uuid "ad6fc5b7-c52c-5941-bfb7-cf4fb4189775" "sip:9102@voip1.inonit.no",
        #uuid "7fdf0551-b5fc-557d-bddc-2ca5b1cdfaa6" "sip:9104@voip1.inonit.no",
        #uuid "cffa01d3-fbf3-5c84-af4f-3c54550e2e4f" "sip:9106@voip1.inonit.no",
        #uuid "c700abce-c109-58fc-a3e7-86bff412a872" "sip:9108@voip1.inonit.no"}
 :mqtt {:config {:scheme "tcp"
                 :host "127.0.0.1"
                 :port 1883
                 :client-id "songpark-platform-be7a"
                 :connect-options {:auto-reconnect true
                                   :keep-alive-interval 60}}}
 :teleporter {:offline-timeout 6000}}
