{:http {:server-settings {:port 3000
                          :join? false
                          :http/cookies {:http-only true}}}
 :aws {:access-key-id "abc"
       :secret-access-key "123",
       :region "eu-central-1"
       :songpark {:bucket-name "songpark-test"}}
 :oauth {:id "10bb5f8e-1d8f-4d6b-a963-589b83df7daf"
         :secret "a981ecd9-1164-441e-9f20-05ac29ac9a6e"
         :redirect-url "http://localhost:3000/oauth"
         :scope ["userinfo-title" "userid" "openid" "groups-org" "userinfo-name" "email"]
         :app-url "http://localhost:8700/index-browser.html"}
 :google {:credentials-file "google-credentials.json"
          :sample-rate-hertz 44100}
 :logger {:sentry-settings {:log? false
                            :dsn "https://1d8c8c3629d04753af7aa097af707be0@o19823.ingest.sentry.io/5244907"}}
 :database {:datasource {:default {:maximum-pool-size 3
                                   :adapter "postgresql"
                                   :username "postgres"
                                   :password "postgres"
                                   :database-name "postgres"
                                   :server-name "localhost"
                                   :port-number 5432}}}
 :informational {:base-url "http://localhost:3000/static/files/"}
 :carmine {:pool {} :spec {}}
 :frontend {:communication-manager {:url "http://localhost:3000"}}}
