{:http {:server-settings {:port 3000
                          :join? false
                          :http/cookies {:http-only true}}}
 :logger {:sentry-settings {:log? false
                            :dsn ""}}
 :mqtt {:config {:scheme "tcp"
                 :host "10.100.200.8"
                 :port 1883
                 :client-id "songpark-platform-be7a"
                 :connect-options {:auto-reconnect true
                                   :keep-alive-interval 60
                                   ;; :username "tpx"
                                   ;;:password "SecretPass"
                                   }}}
 :sips {#uuid "844ac6ff-e9a2-57ac-b91a-41cf4e6d74c8" "sip:9115@voip1.inonit.no"
        #uuid "f7a21b06-014d-5444-88d7-0374a661d2de" "sip:9114@voip1.inonit.no"}
 :database {:datasource {:kamailio {:maximum-pool-size 3
                                    :adapter "mysql"
                                    :username "kamailio_admin"
                                    :password "mysql"
                                    :database-name ""
                                    :server-name "localhost"
                                    :port-number 3306}}}
 :voip {:server "voip1.inonit.no"
        :accounts {#uuid "1d84be2b-44d1-5da8-91ae-a9b97f133cb9" {:name :tp-01
                                                                 :voip/username "9111"
                                                                 :voip/password "ufd682?7"}
                   ;; TODO: change this based on mac address of other tp
                   #uuid "1d84be2b-44d1-5da8-91ae-a9b97f133c00" {:name :tp-02
                                                                 :voip/username "9112"
                                                                 :voip/password "sT-hjjd?kd"}}}}
